body {
    background-color:  #f8f9fa;
    color: black;
}

.section-title{
   text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}      

.gallery-card {
transition: transform 0.3s ease, box-shadow 0.3s ease;
border: none;
}

.gallery-card img {
transition: transform 0.5s ease;
}

.gallery-card:hover {
transform: translateY(-10px);
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.gallery-card:hover img {
transform: scale(1.2);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    width: 30%;
    height: 40%;
    border: 4px solid white;
    border-radius: 10px;
}